/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
    background-color: #E5E5E5;
}

header{
    background-color: black;
    width: 900px;
    height: 4px;
    margin: 5px auto 0 auto;
}

main{
    background-color: #FFFFFF;
    width: 900px;
    height: 920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.name_section{
    width: 335px;
    height: 60px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 32px;
}

.main_section{
    width: 335px;
    height: 722px;
    margin: 32px 60px 72px 48px;
    font-family: 'Inter', sans-serif;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
}
.name_section h1{
    font-size: 24px;
}
.name_section h2{
    font-size: 18px;
}

.main_section h3{
    font-size: 16px;
    margin-bottom: 8px;
}

.main_section p{   
    font-size: 14px;
    margin-bottom: 15px;
}

.main_section h4{
    font-size: 12px;
}

.hobby li{
    list-style: square;
    margin-left: 40px;
}

.professional_section{
    width: 400px;
    height: 665px;
    margin-top: 32px;
    margin-left: 50px;
    font-family: 'Inter', sans-serif;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #73808D;
}
.ava{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-bottom: 20px;  
}

.professional_section h3{
    margin-bottom: 10px;
}

.professional_section p{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color:#73808D;
}
a:visited{
    color: #73808D;
}

footer{
    background-color: black;
    width: 900px;
    height: 4px;
    margin: 0 auto 0 auto;
}
.social{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.social1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
